.body-earphones{
    display: grid;
    cursor: auto;
    grid-template-columns: 135px 350px 350px 350px 135px;
    grid-gap: 30px;
    margin-bottom: 30px;
}

.body-wireless{
    display: grid;
    cursor: auto;
    grid-template-columns: 135px 350px 350px 350px 135px;
    grid-gap: 30px;
    margin-bottom: 30px;
}

.show-item{
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: SemiBold;
    }
.pic { text-align: center;}      
.name { font-size: 17px;     margin-left: 22px;}      
.price {font-size: 17px; color: #FFA542;    margin-left: 22px;}      
.rating {font-size: 17px; color: #838383;     margin-left: 22px;}      
.buy {font-size: 17px; margin-bottom: 0px;     margin-left: 22px;}
      

.hmini{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 600;
    margin-top: 25px;
    margin-left: 165px;
    font-size: 20px;
    color: #838383;
    margin-bottom: 5px;
}

.hcomment{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 600;
    margin-top: 25px;
    margin-left: 165px;
    font-size: 20px;
    color:  green;
    margin-bottom: 5px;
}